.button-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  height: 100vh;
}

$button-height: 30vh;

.button-skeleton,
.button {
  display: flex;
  height: $button-height;
  width: 100%;
  border: none;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}

.button-skeleton {
  background-color: red;
  color: #fff;
  cursor: pointer;
}

/* Add media query to switch to single column layout below a certain breakpoint */
@media (max-width: 768px) {
  .button-row {
    grid-template-columns: 1fr;
  }
}
